#btnaddProduct {
  -fx-background-color: #25a820;
}

#btnrecordProd {
  -fx-background-color: #25a820;
}

#tabProduce {
  -fx-background-color: #25a820;
}

#tabProductionLog {
  -fx-background-color: #25a820;
}

#tabProductLine {
  -fx-background-color: #25a820;
}

#lblType {
  -fx-background-color: white;
  -fx-border-color: green;
}

#lblProdName {
  -fx-background-color: white;
  -fx-border-color: green;
}

#lblManufacturer {
  -fx-background-color: white;
  -fx-border-color: green;
}

#lblExProd {
  -fx-background-color: white;
  -fx-border-color: green;
}

#lblChooseProd {
  -fx-background-color: white;
  -fx-border-color: green;
}

#lblQuantity {
  -fx-background-color:  white;
  -fx-border-color: green;
}

#tbpaneBox {
  -fx-background-image: url("https://wallpapertag.com/wallpaper/full/4/a/7/214876-green-and-black-background-1920x1269-for-full-hd.jpg");
  -fx-background-size: contain;
}